/*html5 reset*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong,sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header,hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font: inherit;vertical-align: baseline}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section{display: block}
html,body{-webkit-text-size-adjust:none}
body{ font:400 12px "Muli", Arial, san-serif;line-height:1}
ol, ul, dl{list-style:none}
blockquote, q{quotes: none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content: none}
table,th,td{border-spacing:0;border-collapse:collapse}
h1, h2, h3, h4, h5, h6{font-size:1em}
input, textarea {font-size:1em}
a:link, a:visited, a:hover, a:active {color:inherit;font-size:1em;text-decoration:none}
img {margin:0;padding:0;border:0}
strong{font-weight:300}
.clearfix:after{display:block;height: 0;content:".";clear: both;visibility: hidden}


.navi {
    background-color: rgba(50,50,50,0.98);
    width: 300px;
    height: 100%;
    top:0;
    right:0;
    text-align: center;
    display: none;
    position: fixed;
    z-index: 2;
}

.navi ul{
    color: #fff;
    font-size: 24pt;
    margin-top: 320px;
}

.navi li{
    padding: 10px;
    cursor: pointer;
}

.navi p{
    color: #e1e1e0;
    font-size: 22pt;
    margin-top: 100px;
}

.navi p span{
    color: #878685;
    font-size: 16pt;
    margin-bottom: 90px;
}

.navi_toggle:focus .navi {
    display: block;
    z-index: 3;
}

a.navi_toggle{
    position:fixed;
    top:80px;
    right:80px;
    display:block;
    width:40px;
    height:30px;
    border-bottom:3px solid #fff;
    transition: all 0.5s ease;
    z-index:3;
}
a.navi_toggle:after{
    position:fixed;
    top:90px;
    right:80px;
    display: block;
    content:"";
    width:40px;
    border-bottom:3px solid #fff;
    transition:all 0.5s ease
}

a.navi_toggle:before{
    position: fixed;
    top: 100px;
    right: 80px;
    display: block;
    content: "";
    width: 40px;
    border-bottom: 3px solid #fff;
    transition: all 0.5s ease;
}


a.navi_toggle_active{
    border-bottom: 0px solid #fff;
}

a.navi_toggle_active:after{
    top: 95px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

a.navi_toggle_active:before{
    top: 95px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

a.navi_toggle_changed{
    position:fixed;
    top:80px;
    right:80px;
    display:block;
    width:40px;
    height:30px;
    border-bottom:3px solid #000;
    transition: all 0.5s ease;
    z-index:3;
}
a.navi_toggle_changed:after{
    position:fixed;
    top:90px;
    right:80px;
    display: block;
    content:"";
    width:40px;
    border-bottom:3px solid #000;
    transition:all 0.5s ease
}

a.navi_toggle_changed:before{
    position: fixed;
    top: 100px;
    right: 80px;
    display: block;
    content: "";
    width: 40px;
    border-bottom: 3px solid #000;
    transition: all 0.5s ease;
}


a.navi_toggle_changed_active{
    border-bottom: 0px solid #fff;
}

a.navi_toggle_changed_active:after{
    top: 95px;
    border-bottom: 3px solid #fff;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

a.navi_toggle_changed_active:before{
    top: 95px;
    border-bottom: 3px solid #fff;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

#whiteout {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    background: rgba(248, 108, 89, 0.85);
    display: none;
    cursor: pointer;
}

.title {
    margin-top: 110px;
    margin-left: 90px;
    margin-bottom: 100px;
}

.subtitle {
    width: 1419px;
    text-align: left;
    font-size: 15pt;
    margin: 0 auto;
    color: #777;
    margin-bottom: 40px;
+}

.contents1, .contents2 {
    margin: 0 auto;
    font-size: 0;
    width: 1419px;
}

.main {
    height: 1100px;
    background: -webkit-linear-gradient(#f86956, #ff853b);
    margin: 0;
    padding: 0;
}

.main img {
    margin-top: 80px;
    margin-left: 90px;
}

.graphic {
    width: 80%;
    margin: 30px 0 0 120px;
}


.contents1 > div, .contents2 > div {
    float: left;
    width: 473px;
    height: 430px;
}

.contents1 > div:nth-child(2), .contents1 > div:nth-child(6),
.contents2 > div:nth-child(1), .contents2 > div:nth-child(4){
    width: 946px
}

.contents1, .contents2 {
    margin-bottom: 120px;
}

.content-img {
    height: 100%;
}

.hoverimg {
    position: relative;
    width: 473px;
    height: 430px;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
}


.hoverimg .pf_text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    background-color: rgba(248, 108, 89, 0.95);
    opacity: 0;
    transition: 0.5s;
}

.hoverimg:hover .pf_text {
    opacity: 1;
}

.pf_text > p {
    margin-top: 150px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 20pt;
}

.pf_text > span {
    font-size: 12pt;
    color: #fff;
    padding-top: 10px;
}

.pf_text > div {
    width: 25px;
    height: 1px;
    background-color: #fff;
    position: relative;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

#about {
    margin: 0 auto;
    padding: 0;
    height: 1150px;
    background-color: #fbfbfb;
}

#about div {
    text-align: center;
}

#about p {
    color: #000;
    font-size: 35pt;
    line-height: 130%;
    margin-top: 75px;
    margin-bottom: 12px;
}

#about span {
    color: #888;
    font-size: 18pt;
    line-height: 155%;

}

#contact {
    background: #fff;
    height: 1050px;
}

#contact p {
    font-size: 52pt;
    color: #000000;
    text-align: center;
    line-height: 140%;
    margin-top: 80px;
}

.contact_way > div {
    margin: 15px;
    display: inline-block;
}

.contact_way {
    margin-top: 60px;
    text-align: center;
}

.email {
    width: 490px;
    height: 103px;
    background-image: url('images/img_52.png');
    background-size: cover;
}

.email:hover {
    width: 490px;
    height: 103px;
    background-image: url('images/img_53.png');
    }

.facebook {
    width: 103px;
    height: 103px;
    background-image: url('images/img_54.png');
}

.facebook:hover {
    width: 103px;
    height: 103px;
    background-image: url('images/img_55.png');
}

.linkedin {
    width: 103px;
    height: 103px;
    background-image: url('images/img_56.png');
}

.linkedin:hover {
    width: 103px;
    height: 103px;
    background-image: url('images/img_57.png');
}

.popup {
    display: none;
    background: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
}

.popup_content {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
 }

.popup_top {
    margin-bottom: 20px;
    text-align: center;
}

.popup_title {
    color: #000;
    font-size: 46px;
    margin-top: 90px;
}

.popup_subtitle {
    color: #333;
    font-size: 20px;
    margin-top: 15px;
}

.close {
    position: fixed;
    top: 90px;
    right: 90px;
}

.previous {
    position: fixed;
    bottom: 60px;
    left: 100px;
}

.next {
    position: fixed;
    bottom: 60px;
    right: 100px;
}

.previous span, .next span {
    padding: 3px;
}

.popup_content {
    margin: 0 auto;
    text-align: center;
    font-size: 0;
    margin-top: 45px;
}

.popup_content img {
    padding: 50px;
}


/*@media (max-width:720px)
}*/