@charset "UTF-8";



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Heebo', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* common */

html * {
    font-family: 'Heebo', sans-serif;
}

body {
    font-size: 22px;
    line-height: 1.8;
}

#container_img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.width100 {
    width: 100%;
    background-color: #F7F8F9;
}

.margin_top20 {
    margin-top: 20px;
}

.margin_top30 {
    margin-top: 30px;
}

.margin_top50 {
    margin-top: 50px;
}

.margin_top80 {
    margin-top: 100px;
}

.margin_top100 {
    margin-top: 100px;
}

.margin_top120 {
    margin-top: 120px;
}

.margin_bottom30 {
    margin-bottom: 30px;
}

.margin_bottom50 {
    margin-bottom: 50px;
}

.margin_bottom80 {
    margin-bottom: 80px;
}

.margin_bottom100 {
    margin-bottom: 100px;
}

.margin_bottom120 {
    margin-bottom: 120px;
}

.padding80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.padding0 {
    padding: 0;
} 

.margin0{
    margin: 0;
}


/* common */

html * {
    font-family: 'Heebo', sans-serif;
}

body {
    
}


/* top */
.detailtop {
    margin: 0;
    padding-top: 80px;
    padding-bottom: 90px;
}

.info01 {
    margin-top: 0;
    padding: 0;
    color: white;
    line-height: 1.2;
    font-weight: 700;
}

.info02 {
    font-size: 22px;
    font-weight: 700;
    color: white;
    padding: 0;
}

.row ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
}

.row li {
    margin-bottom: 6px;
}



/* ssup */

.detail_title {
    color: '#464954';
    text-decoration: underline;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

.detail_title02 {
    color: '#464954';
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

.ssup_problem p {
    margin-top: 30px;
}

.ssup_problem01 {
    padding: 0;
}

.ssup_structure02 {
    width: 100%;
    background-color: #F7F8F9;
    padding-top: 80px;
    padding-bottom: 80px;
}

.ssup_sticker {
    width: 100%;
    background-color: #F7F8F9;
    padding-top: 80px;
    padding-bottom: 80px;
}

.ssup_hey {
    padding-top: 80px;
    padding-bottom: 80px;
}


.ssup_emoji05 {
    width: 100%;
    background-color: #6E758A;
    padding-top: 120px;
    padding-bottom: 120px;
}

.ssup_emoji05 p {
    color: white;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700
}


.ssup_branding img {
    margin: 0;
    margin-top: 12px;
}




/* coffee */

.coffee_title {
    color: '#464954';
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

.coffee_mission {
    width: 100%;
    background-color: #FFF9F0;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-size: 45px;
    color: #F35A5A;
    line-height: 1.4;
    font-weight: 500;
}

.coffee_des {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 85%;
    background-color: #F1F7FC;
} 

.coffee_des01 {
    position: absolute;
    top: 23%;
}

.coffee_des02 {
    position: absolute;
    z-index: 1000;
    top: 8.5%;
}



@media screen and (max-width: 360px) {

}


 /* under 768 */ /* under 768 */ /* under 768 */ /* under 768 */ /* under 768 */ /* under 768 */ /* under 768 */ /* under 768 */ /* under 768 */ /* under 768 */

@media screen and (min-width: 360px) and (max-width: 767px) {
    

    
    /* detail */
    

    .detail_title, .detail_title02 {
        font-size: 36px;
    }
    
    .des {
        background-color: #F7F8F9;
        padding-bottom: 80px;
    }
    
    .des01 {
        width: 160%;
        margin-top: 30px;
    }
    
    .info01 {
        font-size: 40px;
    }
    
    
    .info02, .info03 {
        margin-top: 20px;
        font-size: 20px;
    }
    
    .top_img {
        margin-top: 30px;
        padding: 0;
        width: 100%;
    }
    
    .ssup_target_img {
        padding-top: 30px;
    }

    .ssup_structure_img {
        width: 80%;
    }
    
    .ssup_sticker01 {
        margin-top: 30px;
    }
    
    .ssup_sticker02 {
        width: 80%;
        margin-top: 40px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
     .ssup_write02 {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .ssup_branding p {
        margin-top: 30px;
    }
    
    .margin320 {
        margin-top: 30px;
    }
    
    
    .ssup_emoji {
        margin-top: 80px;
        margin-bottom: 30px;
    }

    .ssup_emoji01 {
        margin-bottom: 20px;
        padding: 0;
    }
    
    .ssup_emoji02 {
        margin-bottom: 30px;
    }
    
}


 /* between 768-991 */ /* between 768-991 */ /* between 768-991 */ /* between 768-991 */ /* between 768-991 */ /* between 768-991 */ /* between 768-991 */

@media screen and (min-width: 768px) and (max-width: 991px) {

    
/* detail */
    

    .des {
        background-color: #F7F8F9;
        padding-bottom: 80px;
    }
    
    .des01 {
        width: 130%;
        margin-top: 30px;
    }
    
    
    .info01 {
        font-size: 55px;
    }
    
    .detail_title, .detail_title02 {
        font-size: 42px;
    }
    
    .info02, .info03 {
        margin-top: 30px;
        font-size: 20px;
    }
    
    .top_img {
        margin-top: 30px;
        width: 100%;
    }

    .ssup_structure_img {
        width: 60%;
    }
    
    .ssup_target_img {
        padding-top: 50px;
    }

    
    .ssup_sticker02 {
        width: 70%;
        margin-top: 40px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .ssup_sticker01 img:nth-child(1) {
        margin-top: 30px;
    }
    
     .ssup_write02 {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .ssup_branding p {
        margin-top: 30px;
    }
    
    .ssup_emoji {
        position: relative;
        width: 100%;
        margin-top: 80px;
        margin-bottom: 30px;
    }
    
    .ssup_emoji01 {
        margin-bottom: 30px;
        padding: 0;
    }

    .margin320 {
        margin-top: 30px;
    }
}

 /* between 992-1200 */ /* between 992-1200 */ /* between 992-1200 */ /* between 992-1200 */ /* between 992-1200 */ /* between 992-1200 */ /* between 992-1200 */

@media screen and (min-width: 992px) and (max-width: 1200px) {


/* detail */
    

    .des {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 85%;
        background-color: #F7F8F9;
    } 

    .des01 {
        position: absolute;
        top: 20%;
    }
    
    .des02 {
        position: absolute;
        z-index: 1000;
        top: 13%;
        background-color: #F7F8F9;
    }
    
    .detail_title, .detail_title02 {
        font-size: 42px;
    }
    
    .info01 {
        font-size: 60px;
    }
    
    
    .info02, .info03 {
        margin-top: 30px;
    }
    
    .top_img {
        margin-top: 0;
        width: 100%;
    }
    
    .ssup_structure_img {
        width: 50%;
    }
    
   .ssup_target_img {
        padding-top: 100px;
    }
    
    .ssup_sticker01 {
        margin-top: 50px;
    }
    
    .ssup_sticker02 {
        width: 100%;
        margin-top: 40px;
    }
    
    .ssup_like img {
        margin-top: 10px;
    }

    .ssup_comm01 {
        position: absolute;
    }
    
    .ssup_comm02 {
        position: relative;
    }
    
    .ssup_sticker01 img:nth-child(1) {
        margin-top: 30px;
    }
    
    .ssup_sticker01 p {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .ssup_hey div:nth-child(2) {
        margin-top: 60px;
    }
    
    .ssup_write02 {
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .ssup_emoji {
        position: relative;
        width: 100%;
        padding-bottom: 85%;
    }

    
    .ssup_emoji01 {
        position: absolute;
        z-index: 1000;
        top: 16%;
    }

    .ssup_emoji02 {
        position: absolute;
        z-index: 1;
    }

    .ssup_emoji03 {
        position: absolute;
        z-index: 1000;
        bottom: 10%;
    }

}

 /* over 1200 */ /* over 1200 */ /* over 1200 */ /* over 1200 */ /* over 1200 */ /* over 1200 */ /* over 1200 */ /* over 1200 */ /* over 1200 */ /* over 1200 */

@media screen and (min-width: 1200px) {

    
    /* detail */

    
    .detail_title, .detail_title02 {
        font-size: 42px;
    }
    
    .info01 {
        font-size: 60px;
    }
    
    .top_img {
        margin-top: 30px;
        width: 90%;
    }
    
    .des {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 65%;
        background-color: #F7F8F9;
    } 
    
    .des container {
        margin-bottom: 80px;
    }

    .des01 {
        position: absolute;
        top: 15%;
    }
    
    .des02 {
        position: absolute;
        z-index: 1000;
        top: 13%;
    }
    

    
    .ssup_structure_img {
        width: 60%;
    }
    
    .ssup_sticker01 {
        margin-top: 70px;
    }
    
    .ssup_sticker02 {
        width: 90%;
        margin-top: 50px;
    }
    
    .ssup_like img {
        margin-top: 10px;
    }
    
    
    .ssup_hey div:nth-child(2) {
        margin-top: 60px;
    }
    
    
    .ssup_comm01 {
        position: absolute;
    }
    
    .ssup_comm02 {
        position: relative;
    }
    
    .ssup_target_img {
        padding-top: 100px;
    }
    
    .ssup_emoji {
        position: relative;
        width: 100%;
        padding-bottom: 85%;
    } 
    
    .ssup_emoji01 {
        position: absolute;
        z-index: 1000;
        top: 16%;
    }

    .ssup_emoji02 {
        position: absolute;
        display: block; 
        clear: both;
        z-index: 1;
    }

    .ssup_emoji03 {
        position: absolute;
        z-index: 1000;
        bottom: 10%;
        }

    
    .ssup_write02 {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


