.background_cover {
    background-size: cover;
}

.content1_1  {
    background-image: url("images/img_12.png");
}
.content1_2 {
    background-image: url("images/img_18.png");
}
.content1_3 {
    background-image: url("images/img_16.png");
}
.content1_4 {
    background-image: url("images/img_15.png");
}
.content1_5 {
    background-image: url("images/img_14.png");
}
.content1_6  {
    background-image: url("images/img_13.gif");
}
.content1_7 {
    background-image: url("images/img_24.png");
}
.content1_8 {
    background-image: url("images/img_25.png");
}
.content1_9 {
    background-image: url("images/img_19.png");
}
.content1_10 {
    background-image: url("images/img_26.png");
}
.content1_11 {
    background-image: url("images/img_21.png");
}