/*html5 reset*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong,sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header,hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font: inherit;vertical-align: baseline}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section{display: block}
html,body{-webkit-text-size-adjust:none}
body{ font:400 12px "Muli", Arial, san-serif;line-height:1}
ol, ul, dl{list-style:none}
blockquote, q{quotes: none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content: none}
table,th,td{border-spacing:0;border-collapse:collapse}
h1, h2, h3, h4, h5, h6{font-size:1em}
input, textarea {font-size:1em}
a:link, a:visited, a:hover, a:active {color:inherit;font-size:1em;text-decoration:none}
img {margin:0;padding:0;border:0}
strong{font-weight:300}
.clearfix:after{display:block;height: 0;content:".";clear: both;visibility: hidden}


body {
    background-color: rgba(230, 230, 230, 0.95);
}

.main {
    margin-bottom: 20px;
    text-align: center;
}

.title {
    color: #000;
    font-size: 46px;
    margin-top: 90px;
}

.sub {
    color: #333;
    font-size: 20px;
    margin-top: 15px;
}

.close {
    position: fixed;
    top: 90px;
    right: 90px;
}

.previous {
    position: fixed;
    bottom: 60px;
    left: 100px;
}

.next {
    position: fixed;
    bottom: 60px;
    right: 100px;
}

.previous span, .next span {
    padding: 3px;
}


.content {
    margin: 0 auto;
    text-align: center;
    font-size: 0;
    margin-top: 45px;
}

.content img {
    padding: 50px;
}
